.room-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.room-top-one {
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.room-top-one > img {
  border-radius: 4px;
  width: 100%;
}
.room-room-metrics {
  color: var(--gray);
}
.room-room-options {
  margin-left: auto;
}
.room-room-options svg {
  height: 28px;
  fill: var(--gray);
  position: relative;
}
.room-top-second {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
.room-middle {
  font-size: 18px;
  padding: 0 50px;
  padding-top: 20px;
  display: flex;
  height: auto;
  flex-direction: column;
  overflow-y: scroll;
}
.room-bottom {
  width: 100%;
  /* margin: 0 20px; */
  margin-top: auto;
  margin-bottom: 10px;
}
