.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--dark);
}
.auth-logo-container {
  display: flex;
  align-items: center;
}
.auth-logo-container > svg {
  fill: var(--green);
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.auth-logo-brand {
  color: var(--green);
}
.auth-logo-author {
}
.auth-heading {
  margin: 20px auto;
  text-transform: uppercase;
}
.auth-form {
  box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  color: var(--gray);
  height: auto;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px;
  padding: 20px;
}
.auth-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.auth-label {
  margin-bottom: 10px;
}
.auth-field input,
.auth-field textarea {
  background-color: var(--gray-blue);
  height: 50px;
  padding: 10px;
  color: var(--gray);
  border-radius: 4px;
  width: 100%;
}
.auth-extra {
  text-decoration: underline;
  margin: 5px 0;
}
.auth-error {
  margin: 5px 0;
}
.auth-cta {
  display: flex;
  align-items: center;
}
.auth-option {
  color: var(--green);
}
.auth-button {
  position: relative;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
  margin-left: auto;
  color: var(--dark);
}
