.pop-up-room-container {
  width: 200px;
  position: absolute;
  top: 55px;
  right: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 11px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: var(--light-gray);
  z-index: 2;
}
.pop-up-nav-container {
  width: 200px;
  position: absolute;
  bottom: 75px;
  right: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 11px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: var(--light-gray);
  z-index: 2;
}
.pop-up-nav-sm-container {
  width: 200px;
  position: absolute;
  bottom: 70px;
  right: 21px;
  border-radius: 8px;
  box-shadow: 0px 0px 11px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: var(--light-gray);
  z-index: 2;
}
.pop-up-item {
  padding: 10px 20px;
  border-radius: 4px;
  margin: 0 !important;
}
